*{
    box-sizing: border-box;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.text{
    width: 600px;
    height: 400px;
    background-color: aqua;
    margin: 0px auto;
    align-content: center;
    padding: 20px;
    border: 3px solid black;
    border-radius: 15px;
}
.text h1{
    margin-bottom: 25px;
    text-align: center;
    font-size: 35px;
}
.text p{
    font-size: 25px;
    text-align: left;
    margin-bottom: 15px;
}
.imgbox{
    width: 600px;
    height: 400px;
    background-color: aqua;
    margin: 0px auto;
    border: 3px solid black;
    border-radius: 15px;
}
img{
    width: 100%;
}